.input-form {
  width: 100%;
  display: flex;
  margin-bottom: auto;
}

.input-form input {
  flex: 1 1 auto;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  border: none;
  outline: none;
}

.input-form button {
  padding: 10px;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: var(--color-btn);
  color: var(--color-white);
}
